<div *ngIf="model">
  <h1>
    Product - {{model.name}}

    <span class="float-right">{{model.salePrice | currency}}</span>
  </h1>
  <h3>Stock: {{model.stockQuantity }}</h3>
</div>

<p>
  <button (click)="editProduct()" class="btn btn-outline-default">Edit</button>
</p>

<div *ngIf="model && isEditing">
  <form (ngSubmit)="saveProduct()" #productForm="ngForm">
      <div class="form-group">
          <label for="product-name">Name</label>
          <input id="product-name" name="product_name" type="text" class="form-control" [(ngModel)]="model.name" required #name="ngModel" />
          <!--<div class="alert alert-danger" [hidden]="startOn.valid || startOn.pristine">Start date is required</div>-->
      </div>
      <div class="form-group">
          <label for="sale-price">Sale price</label>
          <input id="sale-price" name="salePrice" type="text" class="form-control" [(ngModel)]="model.salePrice" required #salePrice="ngModel" />
          <!--<div class="alert alert-danger" [hidden]="endOn.valid || endOn.pristine">End date is required</div>-->
      </div>

      <button type="submit" id="btn-save" class="btn btn-primary" [disabled]="processing || !productForm.form.valid">Save product</button>
  </form>
</div>

<h4>Stock</h4>

<div class="card">
  <div class="card-header">Re-stock</div>
  <div class="card-body">
    <form (ngSubmit)="restockProduct()" #stockForm="ngForm">
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="purchase-date">Purchase date</label>
          <input id="purchase-date" name="purchase_date" type="date" class="form-control" [(ngModel)]="editStock.purchaseDate" required #purchaseDate="ngModel" />
        </div>
        <div class="col-md-4 form-group">
          <label for="purchase-price">Purchase price</label>
          <input id="purchase-price" name="purchase_price" type="text" class="form-control" [(ngModel)]="editStock.purchasePrice" required #purchasePrice="ngModel" />
        </div>
        <div class="col-md-4 form-group">
          <label for="purchase-quantity">Purchase quantity</label>
          <input id="purchase-quantity" name="purchase_quantity" type="text" class="form-control" [(ngModel)]="editStock.purchaseQuantity" required #purchaseQuantity="ngModel" />
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="isProcessing || !stockForm.form.valid">Save</button>
    </form>
  </div>
</div>

<div *ngIf="stockHistory && stockHistory.length > 0">
  <table class="table table-condensed table-striped">
      <tr>
          <th style="width: 30%">Date</th>
          <th style="width: 20%">Purchase Qty</th>
          <th style="width: 20%">Cost</th>
          <th style="width: 20%">Unit Price</th>
      </tr>
      <tr *ngFor="let stock of stockHistory">
        <td>{{stock.purchaseDate | date: 'yyyy-MM-dd'}}</td>
        <td>{{stock.purchaseQuantity}}</td>
        <td>{{stock.purchasePrice | currency}}</td>
        <td>{{stock.unitPrice | currency}}
      </tr>
  </table>
</div>